<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>QR PROFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="qr-container" style="text-align: center; margin-top: 20px">
    <p class="qr-subtitle" style="font-size: 14px; color: gray">BANK ARTHESA</p>

    <h2 class="qr-name" style="margin: 8px 0">BANK ARTHESA</h2>
    <p class="qr-account" style="margin: 0 0 10px">0822 9834 8383</p>

    <div class="qr-box" style="text-align: center; margin-top: 20px">
      <!-- QR code -->
      <img src="assets/img/qr.png" width="220" *ngIf="!scanning" />

      <!-- Scanner -->
      <div
        class="camera-wrapper"
        style="
          position: relative;
          width: 220px;
          height: 220px;
          background: black;
          border-radius: 12px;
          overflow: hidden;
        "
        *ngIf="scanning"
      >
        <video
          #video
          autoplay
          playsinline
          style="
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: opacity 0.3s ease;
          "
          [style.opacity]="cameraReady ? '1' : '0'"
        ></video>

        <canvas #canvas hidden></canvas>
      </div>
    </div>

    <p class="qr-desc" style="font-size: 14px; color: #777; margin-top: 12px">
      Ajak teman untuk scan kode QR ini
    </p>

    <!-- TOMBOL SCAN QR -->
    <ion-button
      expand="block"
      [color]="scanning ? 'warning' : 'primary'"
      style="margin-top: 20px"
      (click)="startScan()"
    >
      {{ scanning ? 'Stop Scan' : 'Scan QR' }}
    </ion-button>
  </div>
</ion-content>
